/**
 * page
 */

.page {
  --text-base-size: 16px;

  --color-primary: #121314;
  --color-blue: rgba(87, 162, 219, 0.5);

  font-size: var(--text-base-size);
}

@media (min-width: 768px) {
  .page {
    --text-base-size: 18px;
  }
}

@media (min-width: 1024px) {
  .page {
    --text-base-size: 20px;
  }
}

.page__body {
  --page-gap: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  color: var(--color-primary);
  font-size: var(--text-base-size);
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 768px) {
  .page__body {
    --page-gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .page__body {
    --page-gap: 2.5rem;
  }
}

.page__wrapper {
  --page-wrapper-gap: 1.5rem;
  --page-wrapper-direction: column;

  display: flex;
  flex-direction: var(--page-wrapper-direction);
  flex-wrap: wrap;
  gap: var(--page-wrapper-gap);
}

@media (min-width: 768px) {
  .page__wrapper {
    --page-wrapper-gap: 2rem;
    --page-wrapper-direction: row;

    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .page__wrapper {
    --page-wrapper-gap: 2.5rem;
  }
}

/**
 * section
 */

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/**
 * title
 */

.title {
  --title-text-size: 1.5rem;

  margin: 0;
  line-height: 1.2;
  font-weight: 500;
  font-size: var(--title-text-size);
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.title_size_small {
  --title-text-size: 1rem;
}

.title_size_large {
  --title-text-size: 2rem;
}

/**
 * text
 */

.text {
  --text-space: 0;

  margin-top: var(--text-space);
  margin-bottom: var(--text-space);
}

/**
 * list
 */

.list {
  --list-space: 0;
  --list-gap: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: var(--list-gap);
  padding-left: var(--list-space);
  margin-top: var(--list-space);
  margin-bottom: var(--list-space);
  list-style-type: none;
}

.list_type_secondary {
  --list-gap: 0.25rem;
}

.list__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.list__text {
  margin-top: 0.5rem;
}

/**
 * link
 */

.link {
  position: relative;
  color: var(--color-primary);
  text-decoration: none;
}

.link::after {
  --link-transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);

  content: "";
  position: absolute;
  z-index: -1;
  top: 66%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: var(--link-transition);
  background-color: var(--color-blue);
}

@media (prefers-reduced-motion: reduce) {
  .link::after {
    --link-transition: none;
  }
}

.link:hover::after,
.link:focus-visible::after {
  top: 0;
}

/**
 * social-networks
 */

.social-networks {
  --social-networks-space: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--social-networks-space);
  margin-bottom: var(--social-networks-space);
  gap: 1rem;
  padding-left: var(--social-networks-space);
  list-style-type: none;
}
