/**
 * page
 */

.page {
  --color-primary: #333333;
  --color-secondary: #ffffff;
  --color-light-gray: #f1f1f1;

  --text-base-size: 16px;

  font-size: var(--text-base-size);
}

@media (min-width: 768px) {
  .page {
    --text-base-size: 18px;
  }
}

.page__body {
  --page-gap: 1.5rem;
  --page-direction: column;

  display: flex;
  flex-direction: var(--page-direction);
  flex-wrap: wrap;
  gap: var(--page-gap);
  margin: 0;
  padding: 1em;
  background-color: var(--color-light-gray);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1rem;
  line-height: 1.3;
  color: var(--color-primary);
}

@media (min-width: 1024px) {
  .page__body {
    --page-gap: 2.5rem;
  }
}

.page__wrapper {
  --page-wrapper-gap: 2rem;

  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  gap: var(--page-wrapper-gap);
}

@media (min-width: 768px) {
  .page__wrapper {
    --page-wrapper-gap: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .page__wrapper {
    --page-wrapper-gap: 5rem;
  }
}

/**
 * title
 */

.title {
  --title-text-size: 1.5rem;

  margin: 0;
  font-size: var(--title-text-size);
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.title_size_small {
  --title-text-size: 1.1rem;
}

.title_size_large {
  --title-text-size: 2rem;
}

/**
 * image
 */

.image {
  max-width: 100%;
  height: auto;
  border: 0.1em solid var(--color-primary);
  border-radius: 0.5rem;
}

/**
 * text
 */

.text {
  margin: 0;
  line-height: 1.5;
}

/**
 * list
 */

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list_type_secondary {
  gap: 1rem;
}

.list__item {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.25rem;
}

/**
 * section
 */

.section__text {
  margin-bottom: 0.75rem;
}

/**
 * info
 */

.info {
  --info-direction: column;
  --info-gap: 0.5rem;

  display: flex;
  flex-direction: var(--info-direction);
  gap: var(--info-gap);
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .info {
    --info-direction: row;
    --info-gap: 2rem;
  }
}

.info__content {
  display: flex;
  flex-direction: column;
}

.info__title,
.info__text {
  margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .info__text {
    max-width: 560px;
  }
}

.info__location {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

@media (min-width: 768px) {
  .info__location {
    margin-bottom: auto;
  }
}

.info__location-icon {
  width: 1em;
  height: 1em;
}

.info__section {
  margin-top: 1.25rem;
}

/**
 * social networks
 */

.social-networks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/**
 * link
 */

.link {
  display: inline-flex;
  padding: 0.1em;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 0.1em solid currentColor;
}

.link:hover,
.link:focus-visible {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.link:focus {
  outline: none;
}
